@model CaffeBar.Models.Order

@{
    ViewData["Title"] = "New Order";
}

<h1>Create New Order</h1>

<form asp-action="Create">
    <div class="form-group">
        <label class="control-label">Table</label>
        <select asp-for="TableId" class="form-control w-25" asp-items="ViewBag.TableOptions"></select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
