@model CaffeBar.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<h1>Delete Order @Model.Id</h1>

<div>
    <h4>Table: @Model.TableId</h4>
    <h4>Are you sure you want to delete this order?</h4>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
