@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-dark>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/CafeBar.png" class="home-logo">
            </div>
        </div>
    </div>
<div class="home-header">
    <h3>Place where your drinks come true!</h3><hr style="color: rgb(208, 214, 219);">
    <a asp-action="Index" asp-controller="MenuItem" class="btn btn-danger">Order now!</a>
</div>
